# Client ID da aplicação no Spotify Developer Dashboard
NEXT_PUBLIC_SPOTIFY_CLIENT_ID=381fcef8a3374cfab9d3cdb0dde7bccb

# URL de redirecionamento após login (Escolha a ativa de acordo com o ambiente):
# Para testes locais:
NEXT_PUBLIC_SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000
# Para produção no GitHub Pages:
# NEXT_PUBLIC_SPOTIFY_REDIRECT_URI=https://zolhos.github.io/PaperTrack/


# Client Secret da aplicação (Não utilize em build estático do GitHub Pages para evitar exposição!)
# Caso utilize NextAuth.js ou Vercel Serverless, descomente e preencha:
# SPOTIFY_CLIENT_SECRET=

# Key da API do DeepSeek para refinamento com IA
NEXT_PUBLIC_DEEPSEEK_API_KEY=

